<form (ngSubmit)="onSubmit(titleInput.value, requestInput.value)" #form>
  <app-control label="title">
    <span class="title">Title</span>
    <input name="title" id="title" class="input" #titleInput />
  </app-control>
  <app-control label="input">
    <span class="title">Request</span>
    <textarea name="request" id="request" rows="6" class="request" #requestInput></textarea>
  </app-control>
  <br>
  <p>
    <button appButton>
      <span class="title">Submit</span>
      <span class="icon">></span>
    </button>
  </p>
</form>
